<div class="sidebar d-flex flex-column mr-50">
    <a href="{{ path('ask_question') }}" class="btn btn-primary btn-icon-primary">
        <i class="fa-solid fa-question"></i>
        <span>Poser une question</span>
    </a>

    <ul class="sidebar-nav py-20">
        <a href ="{{ path('home') }}" class="{{ app.request.pathinfo == path('home') ? 'active' : ''}}">
            <i class="fa-solid fa-home mr-5"></i>
            Liste des questions
        </a>

        <a href ="#">
            <i class="fa-solid fa-pen mr-5"></i>
            Mes questions
        </a>

        <a href ="#">
            <i class="fa-solid fa-puzzle-piece mr-5"></i>
            Mes réponses
        </a>
    </ul>
</div>