:root {
    --primary: #5758BB;
    --primary-light: #7c7ed0;
    --accent: #0652dd;
    --warning: #ea2027;
    --success: #009432;
    --font-family: 'Open Sans', sans-serif;
    --font-size-small: 15px; 
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --border-radius: 3px;
    --border: 1px solid #ddd;
    --color: #636466;
    --color-dark: #444;
    --gray: #636466;
    --gray-dark: #444;
    --gray-light: #ddd;
    --footer-bg: #0a3d62;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--font-family);
    color: var(--color);
}

h1,h2,h3,h4,h5 {
    color: var(--color-dark);
}

.d-flex {
    display: flex;
}

.flex-row-nowrap {
    flex-flow: row nowrap;
}

.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.flex-fill {
    flex: 1;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-50 {
    margin-right: 20px;
}

/* Paddings */
.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.py-50 {
    padding: 50px 0;
}

.py-20 {
    padding: 20px 0;
}

ul {
    list-style: none;
}

/* BTNs */
.btn {
    border-radius: var(--border-radius);
    padding: 10px 15px;
    border: 0;
    box-shadow: var(--box-shadow);
    transition: opacity .4s;
}

.btn:hover {
    cursor: pointer;
    opacity: .8;
}

.btn-small {
    padding: 5px 15px;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
    font-weight: 600;
}

.btn-primary-reverse {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: white;
}

/* GENERAL */

.content {
    max-width: 1200px;
}

/* HEADER */

header {
    box-shadow: var(--box-shadow);
}

.header-logo {
    max-width: 150px;
}
.header-logo img {
    max-width: 150px;
}

.header-search {
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    max-width: 400px;
}

.header-search input {
    border: 0;
    outline: none;
    background-color: var(--gray-light);
}


/* FOOTER */

footer {
    background-color: var(--footer-bg);
    color: white;
}

/* SIDEBAR */

.sidebar {
    min-width: 200px;
}

.sidebar-nav li {
    padding: 10px;
    cursor: pointer;
    font-size: var(--font-size-small);
    transition: opacity .4s;
}

.sidebar-nav li:hover {
    opacity: .8;
}

.sidebar-nav li i {
    color: var(--color-dark);
}